#cargandoDatos {
    background-color: lightgray;
    border : solid 1px gray;
    border-radius: 5px;
    margin: 10px;
    margin-left: 2px;
    padding: 10px;
}

body {
    margin: 20px;
    background-color: thistle;
}

#cuadroFicha {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

li {
    list-style-type: none;;
}

#especie, #estado {
    background-color: lightgrey;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

img {
    border-radius: 15px;
}